@using Aktan.Entities

@{
    ViewData["Title"] = "Главная страница";
}

@model List<UnitViewModel>

<div class="text-center">
    <h1 class="display-4">Состояния оборудования</h1>
    <hr>
    <div class="card">
        <h2 class="display-4">Активировать Оборудование</h2>
        <div class="card-body">
            <form method="post" action="MakeOrder">
                <select name="unit" class="form-select text-bg-success p-3" aria-label="Пример выбора по умолчанию">
                    @{
                        int a = 0;
                    }
                    @foreach (var item in Model)
                    {
                        @if (!item.isActive)
                        {
                            {
                                a = 1;
                            }
                            <option value="@item.UnitId">Оборудование @item.UnitNumber</option>
                        }
                    }
                    @if (a == 0)
                    {
                        <option disabled value="-1">Нет свободных</option>
                    }

                </select>

                <select id="userRole" name="customer" class="form-select text-bg-success p-3"
                    aria-label="Пример выбора по умолчанию">
                    @foreach (var item in (List<Customer>)ViewData["Customers"])
                    {
                        <option value="@item.CustomerId">Роль: @item.CustomerName</option>
                    }
                </select>

                <div class="mb-3">
                    <label for="Sum" class="form-label">Введите сумму</label>
                    <input type="number" class="form-control small" id="userInput" name="Sum">
                </div>
                <button type="submit" class="btn btn-success">Запустить</button>
            </form>
            <div id="partialViewContainer"></div>
        </div>
    </div>
    <script>
        var selectElement = document.getElementById("userRole");
        var inputElement = document.getElementById("userInput");

        let globalStore = 0;

        const _F = function (userInput) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var selectedValue = selectedOption.value;
            fetch("/Home/Calculate?input=" + userInput + "&role=" + selectedValue)
                .then(response => response.text()) // Возвращает ответ как текст
                .then(data => {
                    // Обновление содержимого частичного представления
                    document.getElementById("partialViewContainer").innerHTML = data;
                })
                .catch(error => console.error("Ошибка: " + error));
        }

        inputElement.addEventListener("input", () => {
            globalStore = inputElement.value;
            _F(inputElement.value);
        });
        selectElement.addEventListener("change", () => {
            _F(globalStore)
        });

    </script>
    <hr>
    <div class="container text-center">
        <div class="row justify-content-evenly">
            @foreach (var item in Model)
            {
                @if (item.isActive)
                {
                    <div class="col-4">
                        <div class="card" style="width: 12rem;">
                            <img src="~/icons/Stop.png" class="card-img-top" alt="play icon">
                            <div class="card-body">
                                <p class="card-text">Устройство @item.UnitNumber на данный момент используется</p>
                                <p class="card-text">Время окончания: @item.EndTime</p>
                                @if (item.EndTime < DateTime.Now)
                                {
                                    <form method="post" action="/Home/Stop?unitId=@item.UnitId">
                                        <button type="submit" class="btn btn-primary">Остановить</button>
                                    </form>
                                }
                                else
                                {
                                    <div>Время еще не истекло(при обновлении может измениться) </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4">
                        <div class="card" style="width: 12rem;">
                            <img src="~/icons/Ready.png" class="card-img-top" alt="ready icon">
                            <div class="card-body">
                                <p class="card-text">Устройство @item.UnitNumber на данный момент свободно</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr>
    <a asp-controller="Home" asp-action="Lobby" class="btn btn-primary">Обновить</a>

</div>
